@model List<TicketsModel>

@{
    ViewData["Title"] = "Cadastros";
}


<!-- Exibir as mensagens de erro/sucesso no Cadastro-->
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Sucesso"];
    </div>
}

@if (TempData["Falha"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Falha"];
    </div>
}


<div class="text-center">
    <h1 class="display-4">Listando Tickets</h1>
</div>


<div>
    <a role="button" class="btn btn-success btn-sm" asp-controller="Tickets" asp-action="Criar">Cadastrar Ticket</a>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Pessoa</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Situação</th>
                <th scope="col">Data de Entrega</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TicketsModel tickets in Model)
                {
                    <tr>
                        <th scope="row">@tickets.ID</th>
                        <td>@ViewBag.PessoasNomes[tickets.FK_IDPessoas]</td>
                        <td>@tickets.Quantidade</td>
                        <td>@(tickets.Situacao == "A" ? "Ativo" : "Inativo")</td>
                        <td>@tickets.DataDeEntrega.ToString("dd-MM-yyyy")</td>
                        <td><a role="button" class="btn btn-outline-primary btn-sm" asp-route-id="@tickets.ID" asp-controller="Tickets" asp-action="Editar">Editar</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>